// clearfix
.u-clear {
  zoom: 1;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

.u-hidden {
  display: none !important;
  visibility: hidden !important;
}

.u-seo-hidden {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  border: 0;
  padding: 0;
  margin: 0;
  clip: rect(1px,1px,1px,1px);
}

//.u-left { float: left; }
//.u-right { float: right }

.u-text-center { text-align: center; }
