// clearfix
.u-clear {
  zoom: 1;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

.u-hidden {
  display: none !important;
  visibility: hidden !important;
}

.u-seo-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  display: inline-block;
  font-size: 0;
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.u-mobile-only {
  display: block;
  visibility: visible;

  @include media($medium-screen-up) {
    display: none;
    visibility: hidden;
  }
}

.u-desktop-only {
  display: none;
  visibility: hidden;

  @include media($medium-screen-up) {
    display: block;
    visibility: visible;
  }
}

//.u-left { float: left; }
//.u-right { float: right }

.u-text-center {
  text-align: center;
}
