// colors
$base-color: #ccc;
$primary-color: #d1ba37;
$link-color: #000;
$black: $link-color;
$white: #fff;
//$secondary-color: #062033;

// fonts
$roboto: 'Roboto', sans-serif;
$roboto-slab: 'Roboto Slab', sans-serif;

// queries (use only mobile first - min width queries)
$small-screen-up: 580px;
$medium-screen-up: 769px;
$large-screen-up: 992px;
$xlarge-screen-up: 1200px;
