.project__item-wrapper.is-open {
  flex: 100%;
  width: 100%;

  .project__item {
    max-height: 100%;
    max-width: 100%;
  }

  .project__title {
    text-align: center;
  }

  .project__figure {
    margin: 0 0 30px;
  }

  .project__photo {
    height: 440px;
    max-height: 100%;
    text-align: center;
  }

  .project__photo img {
    object-fit: cover;
  }

  @include media($small-screen-up) {
    max-width: 100%;
  }
}

.project__item-wrapper.is-open .project__actions {
  display: none;
  visibility: hidden;
}
