.project__btn {
  z-index: 1;
  top: 16px;
  right: 0;
  //right: 40px;
  transform: translateX(100%);
  position: absolute;
  //width: 80px;
  //height: 80px;
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 100%;
  border: 0;
  box-shadow: -2px 6px 8px rgba(0,0,0,.1);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: transform .3s ease-in, opacity .3s ease-in, visibility .2s linear;
}
