.sidebar {
  background-color: #fff;
  box-shadow: 1px 20px 25px rgba(0, 0, 0, .1);
  flex: 100%;
  height: 100%;
  margin: 0 2.298850574713% 0 0;
  padding: 0 20px 0;
  position: relative;
  width: 100%;

  @include media($medium-screen-up) {
    flex: 17.241379310345;
    max-width: 17.241379310345%;
    padding: 28px 20px 320px;
    width: 17.241379310345%;
  }

  &__menu-toggle {
    color: $link-color;
    display: block;
    font-size: 2.5rem;
    padding: 10px 0 10px;
    position: relative;
    text-decoration: none;
    width: 100%;

    &::before {
      background-color: lighten($base-color, 15%);
      content: '';
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    &::after {
      content: '\e805';
      display: block;
      font-family: 'fontello';
      font-size: 2rem;
      position: absolute;
      right: 0;
      top: 13px;
      transform: rotate(90deg);
    }

    &.is-open::after {
      content: '\e808';
      font-size: 2.1rem;
      top: 12px;
    }
  }

  &__nav {
    display: none;
    padding: 0 0 20px;

    @include media($medium-screen-up) { display: block !important; }
  }

  &__link {
    color: darken($base-color, 10%);
    display: block;
    font-family: $roboto;
    font-size: 2rem;
    font-weight: 500;
    padding: 11px 0;
    position: relative;
    text-decoration: none;
    transition: transform .2s linear;
    width: 100%;

    &:hover { text-decoration: underline; }

    &.is-active { color: $link-color; }

    &::after {
      border-radius: 50%;
      content: '\e803';
      font-family: 'fontello';
      font-size: 2.5rem;
      position: absolute;
      right: -3px;
      top: 9px;
      visibility: hidden;

      @include media($large-screen-up) {
        top: 13px;
      }
    }

    &.is-active::after {
      border-color: $link-color;
      visibility: visible;

      @include media($medium-screen-up) {
        display: none;
        visibility: hidden;
      }

      @include media($large-screen-up) {
        display: block;
        visibility: visible;
      }
    }

    @include media($medium-screen-up) {
      padding: 12px 0 13px;
    }

    @include media($xlarge-screen-up) { font-size: 2.5rem; }
  }

  &__logo {
    bottom: 114px;
    left: 0;
    padding: 0 20px 0 0;
    position: absolute;
  }
}
