.sidebar {
  background-color: #fff;
  box-shadow: 1px 20px 25px rgba(0, 0, 0, .1);
  //margin: 0 2.325581395349 0 0;
  margin-right: 2.325581395349%;
  padding: 0 20px 0;
  position: relative;
  width: 100%;

  // responsive
  @include media($medium-screen-up) {
    //width: 17.441860465116%;
    max-width: 300px;
    padding: 28px 20px 250px;
    width: 16.279069767442%;
  }

  .no-flex & {
    float: left;
  }

  &__menu-toggle {
    color: #d1ba37;
    display: block;
    font-size: 2.5rem;
    padding: 10px 0 10px;
    text-decoration: none;
    width: 100%;

    &::before {
      background-color: lighten($base-color, 15%);
      content: '';
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      top: 40px;
      width: 100%;
    }

    &::after {
      content: '\e805';
      display: block;
      font-family: 'fontello';
      font-size: 2rem;
      position: absolute;
      right: 20px;
      top: 13px;
      transform: rotate(90deg);
    }

    &.is-open::after {
      content: '\e808';
      font-size: 2.1rem;
      right: 17px;
      top: 12px;
    }
  }

  &__nav {
    display: none;
    padding: 0 0 20px;

    @include media($medium-screen-up) {
      display: block !important;
    }
  }

  &__link {
    color: darken($base-color, 10%);
    display: block;
    font-family: $roboto;
    font-size: 2rem;
    font-weight: 500;
    padding: 11px 0;
    position: relative;
    text-decoration: none;
    transition: transform .2s linear;
    width: 100%;
    //margin: 0 0 32px;

    &:hover {
      text-decoration: underline;
    }

    &.is-active {
      color: $link-color;
    }

    &::after {
      border-radius: 50%;
      content: '\e803';
      font-family: 'fontello';
      font-size: 2.5rem;
      position: absolute;
      right: 0; // -5
      top: 10px;
      visibility: hidden;

      @include media($large-screen-up) {
        top: 16px;
      }
    }

    &.is-active::after {
      border-color: $link-color;
      visibility: visible;

      @include media($medium-screen-up) {
        display: none;
        visibility: hidden;
      }

      @include media($large-screen-up) {
        display: block;
        visibility: visible;
      }
    }

    @include media($medium-screen-up) {
      padding: 16px 0;
    }

    @include media($xlarge-screen-up) {
      font-size: 2.5rem;
    }
  }

  &__logo {
    bottom: 80px;
    left: 0;
    padding: 0 20px 0 0;
    position: absolute;
  }
}
